<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar perfil {{newData.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="newData">
    <ion-label>{{newData.nombre}}</ion-label>
    <ion-label>{{newData.email}}</ion-label>
    <ion-label>{{newData.password}}</ion-label>
    <ion-label>{{newData.uuid}}</ion-label>
    <ion-item>
    <ion-input type="text" placeholder="{{newData.nombre}}"></ion-input>
  </ion-item>
    <ion-item>
    <ion-input type="text" placeholder="{{newData.email}}"></ion-input>
  </ion-item>
    <ion-item>
    <ion-input type="text" placeholder="{{newData.password}}"></ion-input>
  </ion-item>
    <br>
    <img src="{{newData.newFile}}" alt="">
    <ion-label>nombre</ion-label>
    <div class="email">
        <button class="Button_Primary" (click)="registro()"><ion-icon name="pencil-outline"></ion-icon></button>
      </div>
</ion-content>