<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Carga de evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h2>Subir archivo con informacón del evento y sus asistentes</h2>
    <h4>Archivos excel o CSV solamente</h4>
  
    <input type="file" (change)="onFileSelected($event)" />
  
    <button (click)="uploadFile()">Subir archivo</button>
  
</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Información de evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
  <form [formGroup]="uploadForm">
    <ion-item>
      <ion-label position="floating">Event Name</ion-label>
      <ion-input formControlName="eventName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Upload Assistants List (CSV or TXT)</ion-label><br/>
      <input type="file" accept=".csv, .txt" (change)="handleFileInput($event)">
    </ion-item>
    <ion-button expand="full" (click)="uploadDocument()">Upload Document</ion-button>
  </form>
</ion-content>
