<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="documentIds.length > 0">
    <h2>Lista de Eventos:</h2>
    <ion-list>
      <ion-card *ngFor="let document of documentIds">
        <ion-card-content>
          Evento: {{ document.fullId }}<br>
        </ion-card-content>
        <ion-button expand="full" color="primary" (click)="onButtonClick(document.fullId)">Acceder</ion-button>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="documentIds.length === 0">
    <p>No se encontraron eventos.</p>
  </div>
</ion-content>
