<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-list >
          <ion-item value="{{feedData.id}}" (click)="detailItem(feedData)" [routerLink]="['/detalle']" *ngFor="let feedData of newDatas" slot="header" color="light">
            <ion-label>{{feedData.cedula}}</ion-label>
            <ion-label>{{feedData.nombre}}</ion-label>
            <ion-label>{{feedData.email}}</ion-label>
            <ion-label>{{feedData.password}}</ion-label>
            <ion-label>{{feedData.uuid}}</ion-label>
          </ion-item>
        </ion-list>
</ion-content>