<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!admin">
  <ion-list>
    <ion-item (click)="profile()">
      <ion-label>Perfil</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item (click)="dataUp()">
      <ion-label>Carga de información</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item (click)="showEvent()">
      <ion-label>Evento y asistencia</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" [disabled]="loading" (click)="logout()">
    <ion-spinner *ngIf="loading" name="crescent" color="light"></ion-spinner>
    <span *ngIf="!loading">Cerrar sesión</span>
  </ion-button>
</ion-content>  

<ion-content *ngIf="admin">
  <ion-list>
    <ion-item (click)="profile()">
      <ion-label>Perfil</ion-label>
    </ion-item>
    <ion-list>
      <ion-item (click)="dataUp()">
        <ion-label>Carga de información</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item (click)="showEvent()">
        <ion-label>Evento y asistencia</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-button expand="full" color="primary" [disabled]="loading" (click)="logout()">
    <ion-spinner *ngIf="loading" name="crescent" color="light"></ion-spinner>
    <span *ngIf="!loading">Cerrar sesión</span>
  </ion-button>
  
</ion-content>