ion-content {
  --background: #f0f0f0;
}

ion-card {
  --ion-background-color: #ffffff;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
}

ion-button {
  --background: #0056b3;
  margin-top: 10px;
}

  .forgetPass{
  /* position: absolute; */
  margin-left: 33.333333333333333333333333%;
  margin-top: 10%;
  width: 33.333333333333333333333333%;
  height: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #5DB075;
  }

    
  .passw{
    height: 50px;
    /* position: absolute;
  left: 16px;
  right: 16px;
  top: 260px; */
  }
  
  .name{
/*   position: absolute;
left: 16px;
right: 16px;
top: 128px; */
margin-top: 10%;
height: 50px;
  border-color: #000000;
  border-radius: 50%;
  }
  
  .email{
/*   position: absolute; */
  height: 50px;
/*   left: 16px;
  right: 16px;
  top: 194px;    
 */  }    
  
  .titulo{
  /* position: absolute; */
  width: 150px;
  height: 36px;
/*   left: calc(50% - 150px/2 + 1.5px);
  top: 5px; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  } 
  
  .cabecera{
  /* position: absolute; */
  height: 36px;
/*   left: 0px;
  right: 0px;
  top: 0px; */
  }
  
  .closeHome{
  position: absolute;
  height: 50px;
  left: 25px;
  right: 0px;
  top: 3px;
  }
  
  .regButton{
    height: 19px;
    /* position: absolute;
    width: 65px;
    right: 10px;
    top: 16px; */
    color: #000000;
  }
  
  .iconClose{
/*   position: absolute;
  width: 16px;
  left: 10;
  top: 16px; */
  height: 16px;
  }
  
  
  .inputData{
  box-sizing: border-box;
  
/*   position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */
  
  /* Gray/01 */
  
  background: #F6F6F6;
  /* Gray/02 */
  
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  }