ion-content {
  --background: #f0f0f0;
}

ion-card {
  --ion-background-color: #ffffff;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

ion-button {
  --background: #0056b3;
  margin: 20px;
}
